body {
  background-color: #42625d;
}

#site-wrapper {
  margin: 0 auto;
  background: none repeat scroll 0 0 transparent;
  width: 1300px;
}

header {
  display: block;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}

#logoContainer {
  position: relative;
  width: 100%;
  background-color: white;
  padding-bottom: 15px;
}

#logoImg {
  width: 200px;
  padding-left: 550px;
}

button,
ul,
li,
span {
  cursor: pointer;
}

#nav-top-list {
  margin-top: 3px;
}

.navClickedOn,
.navLink:hover {
  background: transparent;
  color: black;
  background: #d9f2e6;
}

.navClickedOn {
  color: #2e221f;
  background: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  font-size: 18px;
}

li {
  float: left;
  padding: 10px 60px;
  border-right: 1px solid #42625d;
}

li:first-child {
  padding: 10px 30px;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
}

#navHome {
  border-right: 1px solid #42625d;
}

#cartContainer {
  text-align: left;
  font-size: 18px;
  padding-left: 40px;
  font-style: italic;
}

.hiddenCart {
  display: none;
}

.showCart {
  padding: 20px;
  max-height: 400px;
  min-height: 100px;
  position: fixed;
  max-width: 400px;
  display: flex;
  min-width: 100px;
  justify-content: flex-end;
  top: 70px;
  color: black;
  background: white;
  flex-direction: column;
  right: 20px;
  border: 1px solid grey;
  z-index: 1234;
}

#productsContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  margin-top: 3px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}

.productsHolder {
  overflow: auto;
  padding: 15px;
}

.productHolder {
  padding: 40px;
  display: flex;
  flex-direction: row;
}

.productHolder p {
  font-size: 17px;
}

.productHolder img {
  max-width: 250px;
  max-height: 300px;
  margin-right: 30px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

.productPrice {
  font-weight: bold;
}

.buyButton {
  width: 15%;
  font-size: 15px;
  padding: 10px;
  border-radius: 15px;
  float: right;
  margin-top: 30px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}

.priceContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding-right: 1em;
  margin-left: auto;
}

.priceContainer .productPrice {
  margin-left: 20px;
}

.orderWrapper {
  display: flex;
  flex-direction: row;
  flex: 1 1;
}

#orderMain {
  width: 100%;
}

#orderForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px;
  background-color: white;
  margin: 0 3px 0 0;
  width: 40%;
}

#orderField {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
}

#orderField label {
  font-style: italic;
  padding-bottom: 10px;
  font-size: 18px;
  margin-left: 20px;
}

#orderField input {
  border: none;
  background: #f1f1f1;
  padding: 15px;
  width: inherit;
}

#orderField input:focus {
  background-color: #ddd;
  outline: none;
}

#orderContainer {
  background-color: white;
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 30px;
}

.total {
  text-align: right;
  font-size: 18px;
}

.moreButton {
  padding: 5px;
  border-radius: 5px;
}

#buy {
  width: 60%;
  font-size: 18px;
  padding: 15px;
  border-radius: 15px;
  margin-left: 135px;
  margin-top: 30px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}

#notificationInvalidForm {
  text-align: right;
  font-style: italic;
}

.hiddenNotification {
  display: none;
}

.showNotification {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: 1px solid #b3f0ff;
  padding: 20px;
  background-color: white;
}

#projectInfo {
  background-color: white;
  width: 100%;
  margin-top: 3px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}

#projectInfo p {
  padding: 20px;
  text-align: right;
  font-style: italic;
}

#homeMain {
  width: 100%;
  margin-top: 3px;
  display: flex;
  flex-direction: row;
}

#aboutUs {
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
  margin-right: 3px;
  flex: 2 1;
  padding: 40px;
}

#aboutUs p {
  font-size: 18px;
}

#homeQuote {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}

#quote {
  margin: 20px;
}

#homeQuote p {
  text-align: center;
  padding-top: 40px;
  font-size: 18px;
  margin-top: 3px;
  font-style: italic;
}

#homeQuote h5 {
  text-align: center;
  padding-bottom: 40px;
}

#quoteImg {
  max-width: 400px;
  margin: 30px 20px 10px 20px;
  border-radius: 40px;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.5);
}

#logoImgHome {
  max-width: 500px;
  margin-left: 400px;
}

#nav-top-list p {
  background-color: white;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  font-style: italic;
  margin: 3px 0 3px 0;
}

#nav-top-list-cart {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 3px;
  background-color: white;
}

#nav-top-list-cart a {
  border-right: 1px solid #42625d;
}

#nav-top-list-cart p {
  width: 100%;
  text-align: center;
  padding: 10px 30px;
  margin: 0;
}

#cartProducts {
  border-radius: 15px;
  box-shadow: 0 1px 40px rgba(0, 0, 0, 0.5);
  min-width: 200px;
}

.productHolderCart {
  display: flex;
  flex-direction: column;
  min-width: 130px;
  text-align: left;
}

.productCartInfo {
  display: flex;
  flex-direction: row;
}

.productHolderCart .imageProduct {
  max-width: 100px;
}

.priceContainer {
  display: flex;
  flex-direction: row;
}

.priceContainer button {
  margin: 0 10px;
  height: 20px;
}

.priceContainer .productPrice {
  margin: 0px 15px;
}

.countButtons {
  height: 22px;
  margin-right: 20px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

#notification {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
